.checkbox {
  position: absolute;
  opacity: 0;
  border: solid 1px #000;
}

.checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border: solid 1px #000;
}

.checkbox:hover + label:before {
  background: #000;
}

.checkbox:checked + label:before {
  background: #000;
}

.checkbox:disabled + label {
  color: #9DA3AE;
  cursor: auto;
}

.checkbox:disabled + label:before {
  box-shadow: none;
  background: #FAFAFA;
  border: solid 1px #9DA3AE;
}

.checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}


@media (prefers-color-scheme: dark) {
  .checkbox {
    border: solid 1px #fff;
  }
  
  .checkbox + label:before {
    background: #000;
    border: solid 1px #fff;
  }
  
  .checkbox:hover + label:before {
    background: #fff;
  }
  
  .checkbox:checked + label:before {
    background: #fff;
  }
  
  .checkbox:disabled + label {
    color: #9DA3AE;
  }
  
  .checkbox:disabled + label:before {
    background: #484848;
  }
  
  .checkbox:checked + label:after {
    background: #000;
    box-shadow: 2px 0 0 #000, 4px 0 0 #000, 4px -2px 0 #000, 4px -4px 0 #000, 4px -6px 0 #000, 4px -8px 0 #000;
  }
}