.scroll-button {
  animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  background: none;
  background-size: 14px auto;
  border: 1px solid #000;
  border-radius: 50%;
  bottom: 50px;
  color: inherit;
  cursor: pointer;
  display: block;
  font: inherit;
  height: 40px;
  left: 50%;
  margin-left: -16px;
  outline: inherit;
  padding: 0;
  position: absolute;
  transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  width: 40px;
  z-index: 2;
}

.scroll-button::before {
  border: 1px solid #000;
  border-width: 0 0 1px 1px;
  content: '';
  display: block;
  height: 12px;
  left: calc(50% - 6px);
  position: absolute;
  top: calc(50% - 8px);
  transform: rotate(-45deg);
  width: 12px;
}

@media (prefers-color-scheme: dark) {
  .scroll-button {
    border-color: #fff;
  }

  .scroll-button::before {
    border-color: #fff;
  }
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0);
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
    transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
    transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
